input, select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; /
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background-color: #CCC;
    color: #111;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #333333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color and some padding around the form */
.contact-container {
    border-radius: 5px;
    background-color: #222222;
    padding: 20px;
}

#hidden-div {
    font-size: 2em;
    display: none;
}

